<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- Servlet mapping for AuthenticationServlet -->
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>AuthenticationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/AuthenticationServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet mapping for RootUserServlet -->
    <servlet>
        <servlet-name>RootUserServlet</servlet-name>
        <servlet-class>RootUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RootUserServlet</servlet-name>
        <url-pattern>/RootUserServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet mapping for rootHome -->
    <servlet>
        <servlet-name>RootHome</servlet-name>
        <jsp-file>/rootHome.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>RootHome</servlet-name>
        <url-pattern>/rootHome</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet mapping for ClientUserServlet -->
    <servlet>
        <servlet-name>ClientUserServlet</servlet-name>
        <servlet-class>ClientUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientUserServlet</servlet-name>
        <url-pattern>/ClientUserServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet mapping for clientHome -->
    <servlet>
        <servlet-name>ClientHome</servlet-name>
        <jsp-file>/clientHome.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientHome</servlet-name>
        <url-pattern>/clientHome</url-pattern>
    </servlet-mapping>
    
        <!-- Servlet mapping for JobInsertServlet -->
    <servlet>
        <servlet-name>JobInsertServlet</servlet-name>
        <servlet-class>JobInsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JobInsertServlet</servlet-name>
        <url-pattern>/JobInsertServlet</url-pattern>
    </servlet-mapping>

        <!-- Servlet mapping for ShipmentInsertServlet -->
    <servlet>
        <servlet-name>ShipmentInsertServlet</servlet-name>
        <servlet-class>ShipmentInsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShipmentInsertServlet</servlet-name>
        <url-pattern>/ShipmentInsertServlet</url-pattern>
    </servlet-mapping>    
    
     <!-- Servlet mapping for PartInsertServlet -->
    <servlet>
        <servlet-name>PartInsertServlet</servlet-name>
        <servlet-class>PartInsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PartInsertServlet</servlet-name>
        <url-pattern>/PartInsertServlet</url-pattern>
    </servlet-mapping>  
    
    <!-- Servlet mapping for SuppliersInsertServlet -->
    <servlet>
        <servlet-name>SuppliersInsertServlet</servlet-name>
        <servlet-class>SuppliersInsertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SuppliersInsertServlet</servlet-name>
        <url-pattern>/SuppliersInsertServlet</url-pattern>
    </servlet-mapping>  
    
    <!-- Servlet mapping for dataEntryHome -->
    <servlet>
        <servlet-name>DataEntryHome</servlet-name>
        <jsp-file>/dataEntryHome.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataEntryHome</servlet-name>
        <url-pattern>/dataEntryHome</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AccountantHome</servlet-name>
        <jsp-file>/accountantHome.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountantHome</servlet-name>
        <url-pattern>/accountantHome</url-pattern>
    </servlet-mapping>

        <!-- Servlet mapping for AccountantUserServlet -->
    <servlet>
        <servlet-name>AccountantUserServlet</servlet-name>
        <servlet-class>AccountantUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountantUserServlet</servlet-name>
        <url-pattern>/AccountantUserServlet</url-pattern>
    </servlet-mapping>  

</web-app>
